<html>
  <head>
    <title>jberg</title>
  </head>
  <body>
  <h1>Terraform + Ansible Project</h1>

  <p>{{ inventory_hostname }} Powered by nginx</p>

  <p>Deployed with Terraform and Ansible. Containerized with Docker next.</p>
  </body>
</html>